.header__library {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url('../images/library.png');
  background-size: cover;

  background-repeat: no-repeat;
  @media screen and (min-width: 767px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/library-tablet.png');
  }
  @media screen and (min-width: 1023px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url('../images/library-desktop.png');
  }
}

.library {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 60px;
}

.btn__library {
  &--library,
  &--queue {
    background: transparent;
    color: white;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    border: 1px solid white;
    width: 130px;
    height: 44px;
    font-weight: 500;
    font-size: 12px;
    line-height: 0.75;
    margin-right: 20px;
    padding: 0px;
    cursor: pointer;
  }
  @media screen and(min-width: 767px) {
    margin-right: 32px;
  }
  @media screen and (min-width: 1023px) {
    margin-right: 16px;
  }
  &:last-child {
    margin-right: 0px;
  }
}

.active {
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 0.75;
  background-color: rgba(255, 107, 1, 1);
  width: 130px;
  height: 44px;
}
