<header>
  <section class="header__home section__wrapper--header">
    <nav>
      <div class="nav__home">
        <a href="./index.html">
          <img class="nav__home--logo" src="./images/film.svg" alt="logo" />
        </a>

        <span class="nav__home--name">Filmoteka</span>
      </div>
      <ul class="nav__btn--list">
        <li class="nav__btn--home nav__btn--home--current" type="button">
          Home
        </li>
        <li class="nav__btn--library" type="button">Library</li>
      </ul>
    </nav>
    <div class="form__wrapper">
      <form class="input">
        <input
          class="input__search"
          type="text"
          name="title"
          id="input__search"
          placeholder="Movie search"
        />
        <button class="btn__search" type="submit">
          <img src="./images/finder.svg" alt="" />
        </button>
      </form>
      <p class="attention visually-hidden">
        Search result not successful. Enter the correct movie name and
      </p>
    </div>

    <div class="library visually-hidden">
      <button class="btn__library--library active" type="button">
        Watched
      </button>
      <button class="btn__library--queue" type="button">Queue</button>
    </div>
  </section>
</header>
