<header>
  <section class="header__home">
    <nav>
      <div class="nav__home">
        <img class="nav__home--logo" src="./images/film.svg" alt="" />
        <span class="nav__home--name">Filmoteka</span>
      </div>
      <ul class="nav__btn--list">
        <li class="nav__btn--home current" type="button">Home</li>
        <li class="nav__btn--library" type="button">Library</li>
      </ul>
    </nav>
    <!-- <form class="input">
      <input class="input__search" type="text" placeholder="Movie search" />
      <button class="btn__search">
        <img src="./images/finder.svg" alt="" />
      </button>
      <p class="attention">
        Search result not successful. Enter the correct movie name and
      </p>
    </form> -->
    <div class="library visually-hidden">
      <button class="btn__library active" type="button">Watched</button>
      <button class="btn__library" type="button">Queue</button>
    </div>
  </section>
</header>
