<section class="section__wrapper--pagination">
  <div class="pagination__container">
    <ul class="pagination__list">
      <!-- <li class="btn__left">
        <span class="btn__left">
          <img class="btn__img" src="./images/arrow-left.png" alt=""
        /></span>
      </li>
      <li class="numb"><span>1</span></li>
      <li class="numb"><span>2</span></li>
      <li class="numb active"><span>3</span></li>
      <li class="numb"><span>4</span></li>
      <li class="numb"><span>5</span></li>
      <li class="btn__right">
        <span>
          <img class="btn__img" src="./images/arrow-right.png" alt=""
        /></span> -->
      </li>
    </ul>

    <span class=""> </span>
  </div>
</section>
