<section class="section__wrapper--pagination">
  <div class="pagination__container">
    <span class="btn__left">
      <img class="btn__img" src="./images/arrow-left.png" alt="" />
    </span>
    <ul class="pagination__list">
      <li class="btn btn__active">1</li>
      <li class="btn">2</li>
      <li class="btn">3</li>
      <li class="btn">4</li>
      <li class="btn">5</li>
    </ul>

    <span class="btn__right">
      <img class="btn__img" src="./images/arrow-right.png" alt="" />
    </span>
  </div>
</section>
