<section class="section__wrapper--main">
  <ul class="card__list">
    <!-- <li class="card__list--item">
      <div class="card__wrapper">
        <img class="card__img" src="./images/poster.png" alt="poster" />
        <h3 class="card__title">Greyhound</h3>
        <p class="card__genre"><span>Genre</span> | <span>2020</span></p>
      </div>
    </li>
    <li class="card__list--item">
      <div class="card__wrapper">
        <img class="card__img" src="./images/poster.png" alt="poster" />
        <h3 class="card__title">Greyhound</h3>
        <p class="card__genre"><span>Genre</span> | <span>2020</span></p>
      </div>
    </li>
    <li class="card__list--item">
      <div class="card__wrapper">
        <img class="card__img" src="./images/poster.png" alt="poster" />
        <h3 class="card__title">Greyhound</h3>
        <p class="card__genre"><span>Genre</span> | <span>2020</span></p>
      </div>
    </li>
    <li class="card__list--item">
      <div class="card__wrapper">
        <img class="card__img" src="./images/poster.png" alt="poster" />
        <h3 class="card__title">Greyhound</h3>
        <p class="card__genre"><span>Genre</span> | <span>2020</span></p>
      </div>
    </li> -->
  </ul>
</section>
